* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #080808;
    color: white;
    overflow-x: hidden;
}


/* =====================
   LOADING SCREEN
===================== */

#loader {
    position: fixed;
    inset: 0;
    background: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s;
}

.loader-content {
    text-align: center;
}

.loader-logo {
    width: 90px;
    height: 90px;
    border: 2px solid #00f7ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    color: #00f7ff;
    box-shadow:
        0 0 20px #00f7ff,
        0 0 60px rgba(0,247,255,.4);

    animation: pulse 1.5s infinite;
}

.loader-content h1 {
    margin-top: 20px;
    letter-spacing: 8px;
}

.loader-content p {
    color: #888;
    margin-top: 10px;
}

.loading-bar {
    width: 200px;
    height: 3px;
    background: #222;
    margin: 25px auto;
    overflow: hidden;
}

.loading-bar span {
    display: block;
    width: 0%;
    height: 100%;
    background: #00f7ff;
    animation: loading 2.5s forwards;
}

@keyframes loading {
    to {
        width: 100%;
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.08);
    }
}


/* =====================
   NAVBAR
===================== */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(15px);
    background: rgba(8,8,8,.75);
    border-bottom: 1px solid #222;
}

.navbar {
    max-width: 1100px;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo span {
    color: #00f7ff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: #aaa;
    text-decoration: none;
    transition: .3s;
}

.nav-links a:hover {
    color: #00f7ff;
}


/* =====================
   HERO
===================== */

.hero {
    min-height: 100vh;
    max-width: 1100px;
    margin: auto;
    padding: 130px 20px 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-text {
    max-width: 650px;
}

.small-text {
    color: #00f7ff;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: clamp(45px, 8vw, 85px);
    line-height: .95;
}

.hero h1 span {
    color: transparent;
    -webkit-text-stroke: 1px #00f7ff;
}

.hero h2 {
    margin-top: 25px;
    color: #aaa;
    font-size: 24px;
}

.hero-text > p:not(.small-text) {
    color: #888;
    line-height: 1.7;
    margin-top: 20px;
    max-width: 600px;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

.btn {
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 8px;
    transition: .3s;
}

.primary {
    background: #00f7ff;
    color: #000;
}

.primary:hover {
    box-shadow: 0 0 30px rgba(0,247,255,.6);
    transform: translateY(-3px);
}

.secondary {
    border: 1px solid #333;
    color: white;
}

.secondary:hover {
    border-color: #00f7ff;
}


/* HERO CARD */

.hero-card {
    min-width: 280px;
    height: 350px;
    border: 1px solid #222;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(
            circle at center,
            rgba(0,247,255,.12),
            transparent 60%
        );

    box-shadow:
        0 0 50px rgba(0,247,255,.08);
}

.profile-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #00f7ff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    font-weight: bold;
    color: #00f7ff;

    box-shadow:
        0 0 25px rgba(0,247,255,.5);
}

.hero-card h3 {
    margin-top: 25px;
    font-size: 28px;
}

.hero-card p {
    color: #777;
    margin-top: 5px;
}

.status {
    margin-top: 25px;
    color: #aaa;
    font-size: 13px;
}

.status span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #00ff66;
    border-radius: 50%;
    margin-right: 7px;
    box-shadow: 0 0 10px #00ff66;
}


/* =====================
   SECTION
===================== */

.section {
    max-width: 1100px;
    margin: auto;
    padding: 100px 20px;
}

.section-title {
    margin-bottom: 50px;
}

.section-title p {
    color: #00f7ff;
    font-size: 14px;
}

.section-title h2 {
    font-size: 45px;
    margin-top: 5px;
}


/* =====================
   ABOUT
===================== */

.about-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    border: 1px solid #222;
    padding: 40px;
    border-radius: 20px;
}

.about-box h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-box p {
    color: #888;
    line-height: 1.8;
    margin-bottom: 15px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-left: 2px solid #00f7ff;
}

.quote span {
    font-size: 80px;
    color: #00f7ff;
    line-height: .5;
}


/* =====================
   SKILLS
===================== */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.skill-card {
    border: 1px solid #222;
    padding: 30px;
    border-radius: 18px;
    transition: .3s;
}

.skill-card:hover {
    transform: translateY(-8px);
    border-color: #00f7ff;
    box-shadow: 0 10px 40px rgba(0,247,255,.08);
}

.skill-icon {
    color: #00f7ff;
    font-weight: bold;
    font-size: 20px;
}

.skill-card h3 {
    margin-top: 25px;
    font-size: 25px;
}

.skill-card p {
    color: #777;
    line-height: 1.6;
    margin: 15px 0;
}

.skill-bar {
    height: 5px;
    background: #222;
    border-radius: 5px;
    overflow: hidden;
}

.skill-bar span {
    display: block;
    height: 100%;
    background: #00f7ff;
}


/* =====================
   EDUCATION
===================== */

.timeline {
    border-left: 2px solid #222;
    padding-left: 30px;
}

.timeline-item {
    position: relative;
    margin-bottom: 45px;
}

.dot {
    position: absolute;
    left: -39px;
    top: 5px;
    width: 15px;
    height: 15px;
    background: #00f7ff;
    border-radius: 50%;
    box-shadow: 0 0 15px #00f7ff;
}

.timeline-item span {
    color: #00f7ff;
    font-size: 13px;
}

.timeline-item h3 {
    margin-top: 8px;
    font-size: 23px;
}

.timeline-item p {
    color: #777;
    margin-top: 8px;
}


/* =====================
   TOOLS
===================== */

.tools {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tool {
    padding: 20px 30px;
    border: 1px solid #222;
    border-radius: 12px;
    font-size: 20px;
    transition: .3s;
}

.tool:hover {
    border-color: #00f7ff;
    transform: translateY(-5px);
}

.tool span {
    margin-left: 10px;
}


/* =====================
   PROJECT
===================== */

.project-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.project-card {
    min-height: 300px;
    padding: 30px;
    border: 1px solid #222;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    transition: .3s;
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: #00f7ff;
}

.project-number {
    color: #00f7ff;
    font-size: 14px;
}

.project-card h3 {
    font-size: 25px;
    margin-top: 30px;
}

.project-card p {
    color: #777;
    line-height: 1.6;
    margin-top: 15px;
}

.tags {
    margin-top: auto;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tags span {
    padding: 6px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 12px;
    color: #aaa;
}


/* =====================
   FOOTER
===================== */

footer {
    text-align: center;
    padding: 70px 20px;
    border-top: 1px solid #222;
}

footer h2 {
    font-size: 40px;
}

footer p {
    color: #777;
    margin-top: 10px;
}

.copyright {
    margin-top: 30px !important;
    font-size: 13px;
}


/* =====================
   SCROLL ANIMATION
===================== */

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


/* =====================
   RESPONSIVE
===================== */

@media (max-width: 800px) {

    .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-card {
        width: 100%;
        max-width: 350px;
    }

    .about-box {
        grid-template-columns: 1fr;
    }

    .skills-grid,
    .project-grid {
        grid-template-columns: 1fr;
    }

    .section-title h2 {
        font-size: 35px;
    }

}